<ion-view>
    <ion-content style="background: #f5f5f5">
        <ion-header-bar class="bar bar-dark">
            <h1 class="title" style="font-size:22px">发现</h1>
        </ion-header-bar>
        <ion-list class="list scroll-content has-header">
            <ion-item style="padding:8px;" class="item-icon-right">
                <img src="image/friendCircle.png" alt="" style="vertical-align: middle;width:36px;">
                &nbsp;&nbsp; <span style="vertical-align: middle;font-size:18px;">朋友圈 </span>
                <i class="icon ion-ios-arrow-right" style="color:#B8B8B8;"></i>
            </ion-item>
            <ion-item class="item-divider"></ion-item>
            <ion-item style="padding:8px;" class="item-icon-right">
                <img src="image/swipe.png" alt="" style="vertical-align: middle;width:36px;">
                &nbsp;&nbsp; <span style="vertical-align: middle;font-size:18px;">扫一扫</span>
                <i class="icon ion-ios-arrow-right" style="color:#B8B8B8;"></i>
            </ion-item>
            <ion-item style="padding:8px;" class="item-icon-right">
                <img src="image/yao.png" alt="" style="vertical-align: middle;width:36px;">
                &nbsp;&nbsp; <span style="vertical-align: middle;font-size:18px;">摇一摇</span>
                <i class="icon ion-ios-arrow-right" style="color:#B8B8B8;"></i>
            </ion-item>
            <ion-item class="item-divider"></ion-item>
            <ion-item style="padding:8px;" class="item-icon-right">
                <img src="image/near.png" alt="" style="vertical-align: middle;width:36px;">
                &nbsp;&nbsp; <span style="vertical-align: middle;font-size:18px;">附近的人</span>
                <i class="icon ion-ios-arrow-right" style="color:#B8B8B8;"></i>
            </ion-item>
            <ion-item style="padding:8px;" class="item-icon-right" >
                <img src="image/bottle.png" alt="" style="vertical-align: middle;width:36px;">
                &nbsp;&nbsp; <span style="vertical-align: middle;font-size:18px;">漂流瓶</span>
                <i class="icon ion-ios-arrow-right" style="color:#B8B8B8;"></i>
            </ion-item>
            <ion-item class="item-divider"></ion-item>
            <ion-item style="padding:8px;" class="item-icon-right">
                <img src="image/shopping.png" alt="" style="vertical-align: middle;width:36px;">
                &nbsp;&nbsp; <span style="vertical-align: middle;font-size:18px;">购物</span>
                <i class="icon ion-ios-arrow-right" style="color:#B8B8B8;"></i>
            </ion-item>
            <ion-item style="padding:8px;" class="item-icon-right">
                <img src="image/game.png" alt="" style="vertical-align: middle;width:36px;">
                &nbsp;&nbsp; <span style="vertical-align: middle;font-size:18px;">游戏</span>
                <i class="icon ion-ios-arrow-right" style="color:#B8B8B8;"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>