<ion-view view-title="我">
    <ion-content style="background: #f5f5f5">
        <ion-header-bar class="bar bar-dark">
            <h1 class="title" style="font-size:22px">我</h1>
        </ion-header-bar>
       <ion-list class="list scroll-content has-header ">
           <ion-item class="item item-avatar-left item-icon-right">
               <img src="image/daye.jpeg" alt="">
               <h2>zyliang</h2>
               <p>微信号：zyliang01</p>
               <i class="icon ion-ios-arrow-right" style="color:#B8B8B8;"></i>
           </ion-item>
           <ion-item class="item-divider"></ion-item>
           <ion-item style="padding:8px;" class="item-icon-right">
               <img src="image/picture.png" alt="" style="vertical-align: middle;width:36px;">
               &nbsp;&nbsp; <span style="vertical-align: middle;font-size:18px;">相册</span>
               <i class="icon ion-ios-arrow-right" style="color:#B8B8B8;"></i>
           </ion-item>
           <ion-item style="padding:8px;" class="item-icon-right">
               <img src="image/save.png" alt="" style="vertical-align: middle;width:36px;">
               &nbsp;&nbsp; <span style="vertical-align: middle;font-size:18px;">收藏</span>
               <i class="icon ion-ios-arrow-right" style="color:#B8B8B8;"></i>
           </ion-item>
           <ion-item style="padding:8px;" class="item-icon-right">
               <img src="image/wallet.png" alt="" style="vertical-align: middle;width:36px;">
               &nbsp;&nbsp; <span style="vertical-align: middle;font-size:18px;">钱包</span>
               <i class="icon ion-ios-arrow-right" style="color:#B8B8B8;"></i>
           </ion-item>
           <ion-item style="padding:8px;" class="item-icon-right">
               <img src="image/kabao.png" alt="" style="vertical-align: middle;width:36px;">
               &nbsp;&nbsp; <span style="vertical-align: middle;font-size:18px;">卡包</span>
               <i class="icon ion-ios-arrow-right" style="color:#B8B8B8;"></i>
           </ion-item>
           <ion-item class="item-divider"></ion-item>
           <ion-item style="padding:8px;" class="item-icon-right">
               <img src="image/emoji.png" alt="" style="vertical-align: middle;width:36px;">
               &nbsp;&nbsp; <span style="vertical-align: middle;font-size:18px;">表情</span>
               <i class="icon ion-ios-arrow-right" style="color:#B8B8B8;"></i>
           </ion-item>
           <ion-item class="item-divider"></ion-item>
           <ion-item style="padding:8px;" class="item-icon-right">
               <img src="image/setting.png" alt="" style="vertical-align: middle;width:36px;">
               &nbsp;&nbsp; <span style="vertical-align: middle;font-size:18px;">设置</span>
               <i class="icon ion-ios-arrow-right" style="color:#B8B8B8;"></i>
           </ion-item>
       </ion-list>
    </ion-content>
</ion-view>