<ion-tabs class="tabs-icon-top">

    <ion-tab title="微信" icon-on="ion-chatbubbles balanced" icon-off="ion-chatbubbles" href="#/tab/weChat">
        <ion-nav-view name="tab-weChat"></ion-nav-view>
    </ion-tab>

    <ion-tab title="通讯录" icon-on="ion-person-stalker balanced" icon-off="ion-person-stalker" href="#/tab/mailList">
        <ion-nav-view name="tab-mailList"></ion-nav-view>
    </ion-tab>

    <ion-tab title="发现" icon-on="ion-compass balanced" icon-off="ion-compass" badge="3" badge-style="badge-assertive" href="#/tab/discover">
        <ion-nav-view name="tab-discover"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我" icon-on="ion-person balanced" icon-off="ion-person" href="#/tab/me">
        <ion-nav-view name="tab-me"></ion-nav-view>
    </ion-tab>


</ion-tabs>